* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_3 {
  width: 100%;
  height: 1080px;
  background: rgba(254,250,220,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v2_8 {
  width: 100%;
  height: 134px;
  background: rgba(252,161,125,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_9 {
  width: 539px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 30px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v2_33 {
  width: 637px;
  height: 253px;
  background: rgba(42,157,143,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 642px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_35 {
  width: 324px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 287px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.v2_37 {
  width: 253px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 20px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v2_38 {
  width: 253px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 20px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v2_34 {
  width: 372px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 756px;
  font-family: Inter;
  font-weight: Light;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}

.v2_41 {
  width: 181px;
  height: 61px;
  background: rgba(38,70,83,0.5);
  opacity: 1;
  position: absolute;
  top: 949px;
  left: 643px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_42 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.form input[type="text"]{
	display:block;
	width: 324px;
  height: 55px;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 287px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.form input[type="password"]{
  display:block;
	width: 324px;
  height: 55px;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 287px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.form input[type="submit"]{
  width: 181px;
  height: 61px;
  background: rgba(38,70,83,1);
  position: absolute;
  top: 784px;
  left: 870px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: rgba(255,255,255,1);
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.form input[type="button"]{
  width: 181px;
  height: 61px;
  background: rgba(38,70,83,0.5);
  position: absolute;
  top: 949px;
  left: 1650px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}